.game-analysis-view {
	min-height: 0px;
	width: 100dvw;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(55vmin, 1fr));
}

.quarterly-score {
	height: 150px;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	transform: scale(1.75);

	grid-column: 1 / -1;
}

.quarterly-score table {
	margin: 0 5dvw;

	border-collapse: collapse;

	font-weight: bold;
}

.quarterly-score table tr * {
	padding: 5px 0px;
}

.quarterly-score table tr:first-child {
	border-bottom: 1px solid gainsboro;
}

.quarterly-score table *:not(:last-child) {
	padding-right: 20px;
}

.quarterly-score table tr *:first-child {
	padding-left: 10px;
}

.quarterly-score table tr *:last-child {
	padding: 0px 10px 0px 20px;
	border-left: 1px solid gainsboro;
}

.quarterly-score table * {
	color: gainsboro;
}

.quarterly-score .away-team-score,
.quarterly-score .home-team-score {
	text-align: center;
}

@media (max-width: 750px) {
	.quarterly-score {
		height: 100px;
		transform: scale(1);
	}
}
